@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
    /*z-index: 10000;*/
    z-index: 0;
}
@media  screen and (max-width:800px) {
    .sidebar{
        z-index: 10000000;
    }
}

.bg-ecom{
    background-image: url('./test-patter.png');
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
    z-index: 1000000 !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* color-picker style  */

#preview {
    background: transparent
    no-repeat;
    display: inline-block;
    height: 80px;
    margin: 10px 0;
    min-width: 300px;
    max-width: 600px;
    background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
    border: none;
}

/* Custom scrollbar style */
.custom-scroll::-webkit-scrollbar {
    width: 8px;           
    height: 4px;      
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;   
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;  
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
